<div id="navbar" style="padding:10px; background:#222; color:white;">
  
  <span id="userLinks" style="display:none;">
    <a href="/dashboard" style="color:white; margin-right:15px;">Home</a>
    <a href="/reserve" style="color:white; margin-right:15px;">Make Reservation</a>
    <a href="/profile" style="color:white; margin-right:15px;">Profile</a>
    <a href="/my_reservations_page" style="color:white; margin-right:15px;">My Reservations</a>
    <a href="/staff" id="staffLink" style="color:white; margin-right:15px; display:none;">Staff Portal</a>
  </span>

  
  <span id="adminLink" style="display:none;">
    <a href="/admin" style="color:white; margin-right:15px;">Admin Console</a>
    <!--
    <a href="/admin/view-reservations" style="color:white; margin-right:15px;">Admin Panel</a>
    <a href="/admin/inventory" style="color:white; margin-right:15px;">Inventory</a>
    <a href="/admin/users-page" style="color:white; margin-right:15px;">View All Users</a>
    -->
  </span>

  <span id="notificationLink" style="display:none; margin-left:20px; margin-right:20px;"></span>
  <span id="authSection" style="float:right;"></span>
</div>
